<h1>All Presentations</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Presenter</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |presentation| %>
      <tr>
        <td><%= presentation.title %></td>
        <td><%= presentation.presenter.name %></td>
        <td>
          <%= link_to 'View', presentation_path(presentation) %> |
          <% if current_user != presentation.presenter %>
            <%= link_to 'Evaluate', new_feedback_presentation_path(presentation) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>